// контейнер обертка ставится везде кроме general страницы
.menu-container {
  background: url("../img/general-section-1.jpg") 50% 100% no-repeat;
  background-size: cover;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  line-height: 19px;
  font-weight: bold;
  font-family: $global-font-family-cormorant;
  @media (max-width: $screen-md) {
    flex-direction: column-reverse;
  }

  &-left, &-right {
    display: flex;
    align-items: center;
    @media (max-width: $screen-md) {
      width: 100%;
    }
  }

  &-left {
    transition: height ease-out 0.2s;
    @media (max-width: $screen-md) {
      height: 160px;
      overflow: hidden;
    }
    &.hidden-menu-sm {
      @media (max-width: $screen-md) {
        overflow: hidden;
        height: 0;
      }
    }
  }

  &-right{
    justify-content: space-between;
    @media (max-width: $screen-md) {
      min-height: 70px;
      justify-content: flex-end;
    }
  }

  &-logo {
    width: 70px;
    height: 90px;
    background-image: url("../img/logo.png");

    @media (min-width: $screen-md-min) {
      margin-right: 65px;
    }
    @media (max-width: $screen-md) {
      margin-right: auto;
    }
  }

  &-list {
    @media (max-width: $screen-md) {
      width: 100%;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
        @media (max-width: $screen-md) {
          display: block;
          text-align: center;
          padding: 10px;
        }

        a {
          color: $global-color;
          text-decoration: underline;
          cursor: pointer;
          padding: 10px;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &-basket {
    margin-right: 10px;
    cursor: pointer;
    .basket-app {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .basket-amount {
      margin-left: 7px;
      border-radius: 50%;
      background-color: $global-color;
      color: $global-color-second;
      display: inline-block;
      min-width: 20px;
      min-height: 20px;
      text-align: center;
    }
  }

  &-phone {
    text-align: right;
    .mode{
      font-size: 12px;
    }
    p {
      margin: 0;
    }
  }
}