.product {
  color: $global-color-second;
  &-img {
    //TODO: сделать точки на картинки и включить background вместо img
    //min-height: 200px;
    //background-position: 50% 50%;
    //background-repeat: no-repeat;
    //background-size: cover;
    img {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
    }
  }
  &-info {
    &-title {
      text-decoration: underline;
      cursor: pointer;
    }
    &-price {
      color: #000E6D;
    }
  }
}