.overlay-checkout {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);;
}

.modal-checkout {
  background-color: $global-color;

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    color: $global-color-second;
    padding: 25px 50px 25px 50px;

    .modal-checkout{
      &-message {
        position: fixed;
        top: 20px;
        left: auto;
        width: 300px;
        text-align: center;

        &.success {
          background: #63d263;
        }
        &.error {
          background: #f58961;
        }
      }
      &-title{
        padding-bottom: 30px;
        text-align: center;
        font-size: 30px;
      }
      &-select {

        &-group {
          display: inline-flex;
          align-items: center;
          cursor: pointer;
          margin-right: 10px;

          &-flag {
            box-sizing: border-box;
            display: inline-block;
            position: relative;
            width: 20px;
            height: 20px;
            flex-shrink: 0;
            margin-right: 5px;

            &-outer-circle {
              box-sizing: border-box;
              height: 20px;
              left: 0;
              position: absolute;
              top: 0;
              transition: border-color ease 280ms;
              width: 20px;
              border-width: 2px;
              border-style: solid;
              border-radius: 50%;
              border-color: rgba(0,0,0,.54);
            }
            &-inner-circle {
              border-radius: 50%;
              box-sizing: border-box;
              height: 20px;
              left: 0;
              position: absolute;
              top: 0;
              transition: transform ease 280ms,background-color ease 280ms;
              width: 20px;
              transform: scale(.001);
              background-color: #ff4081;
            }

            &.select {
              .modal-checkout-select-group-flag {
                &-outer-circle {
                  border-color: #ff4081;
                }
                &-inner-circle {
                  transform: scale(.5);
                }
              }
            }
          }
          &-name {
            display: inline-block;
          }
        }
      }
      &-form{
        // TODO: фикс ie11
        max-width: 100%;
        width: 100%;

        .has-error {
          font-size: 0.8rem;
          color: red;
        }
        .required {
          color: red;
        }

        &-group {
          display: flex;
          justify-content: space-between;
          @media (max-width: $screen-xs-min) {
            flex-direction: column;
          }

          &-one {
            & label, & .label-form {
              width: 100%;
              margin-bottom: 5px;
              font-weight: normal;
              color: transparentize($global-color-second, 0.5);
            }

            & input, & select {
              width: 100%;
              color: $global-color-second;
              min-height: 50px;
              padding-left: 10px;
              background-color: $global-color;
              background-image: none;
              border: 1px solid $global-color-second;
              box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
              transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            }
          }

          &-child {
            width: 48%;
            display: flex;
            justify-content: space-between;
            @media (max-width: $screen-xs-min) {
              width: 100%;
            }
          }

          & label {
            width: 48%;
            font-weight: normal;
            color: transparentize($global-color-second, 0.5);
            @media (max-width: $screen-xs-min) {
              width: 100%;
            }
          }

          & input, & textarea {
            width: 100%;
            color: $global-color-second;
            padding-left: 10px;
            min-height: 50px;
            background-color: $global-color;
            background-image: none;
            border: 1px solid $global-color-second;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
          }
        }
        &-buy {
          height: 50px;
          padding: 0 25px;
          align-self: flex-end;
          background: transparent;
          border: 1px solid $global-color-second;
          cursor: pointer;

          &[disabled] {
            cursor: not-allowed;
            color: lighten($global-color-second, 50%);
            border-color: lighten($global-color-second, 50%);
          }
        }
      }
      &-close {
        height: 25px;
        width: 25px;
        position: absolute;
        right: 25px;
        top: 25px;
        cursor: pointer;
        &:after {
          position: absolute;
          content: ' ';
          width: 25px;
          height: 1px;
          background: $global-color-second;
          top: 12px;
          transform: rotate(45deg);
        }
        &:before {
          position: absolute;
          content: ' ';
          width: 1px;
          height: 25px;
          background: $global-color-second;
          left: 50%;
          transform: rotate(45deg);
        }
      }
    }
  }
}