.ReactModal__Overlay {
  z-index: 9999;
  padding: 20px;
  align-items: center;
}

.modal-product {
  background-color: $global-color;

  &-content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    width: 100%;
    color: $global-color-second;
    padding-bottom: 30px;

    .modal-product{
      &-message {
        position: fixed;
        top: 20px;
        left: auto;
        width: 300px;
        text-align: center;

        &.success {
          background: #63d263;
        }
        &.error {
          background: #f58961;
        }
      }
      &-info {
        // TODO: фикс ie11
        max-width: 100%;
        padding: 0 50px;
        @media (max-width: $screen-xs-min) {
          padding: 0 10px;
        }
      }
      &-attributes {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 10px 50px 0;
        @media (max-width: $screen-xs-min) {
          flex-direction: column;
          padding: 10px 10px 0;
        }

        .product-attributes {
          &-container{
            max-width: 150px;
            padding-right: 10px;
            @media (max-width: $screen-xs-max) {
              max-width: 50%;
              margin-bottom: 20px;
            }
            @media (max-width: $screen-xs-min) {
              max-width: 100%;
              margin-bottom: 5px;
            }

            &-name {
              font-size: 1.2rem;
            }
            &-ul {
              list-style-type: none;
              padding: 0;
              margin: 0;
            }
            &-li {
              cursor: pointer;
            }
            &-li-select {
              font-weight: bold;
              text-decoration: underline;
            }

            &-size {
              display: flex;
              flex-wrap: wrap;
              font-size: 12px;
              .product-attributes-container-li {
                //max-width: 25%;
                display: inline-block;
                font-weight: normal;
                text-decoration: none;
                padding: 2px;
                @media (max-width: $screen-xs-min) {
                  max-width: 100%;
                }

                &-val {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 30px;
                  width: 30px;
                  border: 1px solid darken($global-color, 33%);
                }

                &-select {
                  .product-attributes-container-li-val {
                    border: 2px solid $global-color-second;
                    font-weight: bold;
                  }
                }
              }
            }
            &-color {
              display: flex;
              flex-wrap: wrap;
              .product-attributes-container-li {
                display: inline-block;
                padding: 2px;

                &-val {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  height: 30px;
                  width: 30px;
                  border: 1px solid darken($global-color, 33%);
                  padding: 2px;

                  &-color {
                    display: flex;
                    height: 20px;
                    width: 20px;
                  }
                }

                &-select {
                  .product-attributes-container-li-val {
                    border: 2px solid $global-color-second;
                  }
                }
              }
            }
          }
        }
      }
      &-img {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-direction: column;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 600px;
        @media (max-width: $screen-xs-min) {
          justify-content: center;
          flex-direction: row;
          height: 300px;
        }
        &__lists {
          display: flex;
          flex-direction: column;
          flex: 0 0 85%;
          overflow: auto;
          @media (max-width: $screen-xs-min) {
            flex-direction: row;
          }
          .lists__container {
            flex: 0 0 75px;
            cursor: pointer;
            border: 1px solid $global-color-second;
            margin-bottom: 2px;
            opacity: 0.6;
            &:hover {
              opacity: 1;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      &-close {
        height: 25px;
        width: 25px;
        position: absolute;
        right: 25px;
        top: 25px;
        cursor: pointer;
        &:after {
          position: absolute;
          content: ' ';
          width: 27px;
          height: 4px;
          background: $global-color-second;
          top: 12px;
          transform: rotate(45deg);
        }
        &:before {
          position: absolute;
          content: ' ';
          width: 4px;
          height: 27px;
          background: $global-color-second;
          left: 50%;
          transform: rotate(45deg);
        }
      }
      &-name {
        font-size: 30px;
        text-align: center;
        @media (max-width: $screen-xs-min) {
          font-size: 18px;
        }
      }
      &-control {
        display: flex;
        padding: 10px 50px 0;
        width: 100%;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: $screen-xs-min) {
          padding: 10px 10px 0;
        }

        .modal-product {
          &-price {
            margin-right: 10px;
          }
          &-amount {
            border: 1px solid $global-color-second;
            padding: 10px;
            @media (max-width: $screen-xs-min) {
              padding: 5px;
            }

            &-text {
              text-align: center;
              display: inline-block;
              min-width: 20px;
              margin: 0 5px;
            }
            &-procedure {
              display: inline-block;
              cursor: pointer;
            }
          }
          &-cart {
            cursor: pointer;
            border-color: $global-color-second;
            border-style: solid; /* Стиль рамки вокруг параграфа */
            border-width: 1px 1px 1px 0; /* Толщина границы */
            padding: 10px;
            @media (max-width: $screen-xs-min) {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

.overlay-product {
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);;
}
